body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    background-blend-mode: overlay, contain;
    background-image: url("de5764069ce3c87105dac291093e7ef9.jpg");
    background-color: hsl(0, 0%, 100%);


}

header{
    top: 0;
    left: 0;
    background-color: #8394b969;
    width: 100%;
    padding: 20px;
    padding-top: 20px;
    text-shadow: 2px 2px 2px grey;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 0px;
    background-image: url(338210bd0c78a21e7fed14a242d9cc0c.jpg);
    text-align: center;
    border-radius: 5px;
   
    

}

main{

    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    display: flex;
}


a{
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
a:hover{
    color: #e97272;
}
a:active{
    text-decoration: underline;
}


img{
    border-radius: 5px;
    margin-left: 95px;
}

h1{
text-shadow: 2px 2px 5px gray;
text-align: center;
color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 60px;
padding-block-end: 0px;
border-bottom: 0px;
}

h2{
    text-shadow: 2px 2px 5px rgb(158, 158, 158);
    text-align: center;
    color: #e97272;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding-block-end: 0px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: #e97272;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgb(158, 158, 158);
}

p{
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

ul{
    list-style: square;
    text-align: left;
    color: #000000;
    list-style-position: outside;
}

footer{

    
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;

    
}
.contactbox{
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    margin-right: 20px;
    margin-left: 20px;
    border:  5px solid grey darkgray;
    border-style: ridge;
}

.om{
    border-radius: 5px;
    box-shadow: 2px 2px 2px#808080 ;
    margin-right: 20px;
    margin-left: 20px;
    border:  5px solid grey darkgray;
    border-style: ridge;
}
.button{
    color: #914141;;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    word-spacing: 0px;
    background-color: #f5b9a393;
    border-radius: 5px;
    margin: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    
   
}