body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    background-blend-mode: overlay, contain;
    background-image: url("photo-1428908728789-d2de25dbd4e2.jpeg") ;
    background-color: hsl(223, 29%, 29%);


}

header{
    position:fixed;
    top: 0;
    left: 0;
    background-color: #8394b969;
    width: 100%;
    padding: 25px;
    border-block-start-style: ridge;
    text-shadow: 2px 2px 2px grey;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

main{

    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    display: flex;
}

a{
    color: #252f6e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
a:hover{
    color: #343f827e;
}
a:active{
    text-decoration: underline;
}


img{
    border-radius: 5px;
    margin-left: 95px;
}

h1{
text-shadow: 2px 2px 5px gray;
text-align: center;
color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
padding-block-end: 0px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: #252f6e;
    text-align: center;
}

p{
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

ul{
    list-style: square;
    text-align: left;
    color: #252f6e;
}

footer{

    background-color: #8394b969;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;

    
}
.contactbox{
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    margin-right: 20px;
    margin-left: 20px;
    border:  5px solid grey darkgray;
    border-style: ridge;
}

.om{
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    margin-right: 20px;
    margin-left: 20px;
    border:  5px solid grey darkgray;
    border-style: ridge;
}